<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MJCTabarLianXi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>498A29661DCC319C00BD0F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>498A297F1DCC319C00BD0F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>498A298A1DCC319C00BD0F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
